nvim/.config/nvim/autoload
nvim/.config/nvim/bak
nvim/.config/nvim/plugged
nvim/.config/nvim/tags
nvim/.config/nvim/.netrwhist

teeworlds/.teeworlds/demos/auto/
teeworlds/.teeworlds/downloadedskins/
teeworlds/.teeworlds/downloadedmaps/

teeworlds/.local/share/ddnet/*
!teeworlds/.local/share/ddnet/editor/entities/
!teeworlds/.local/share/ddnet/console.png
!teeworlds/.local/share/ddnet/console_bar.png
!teeworlds/.local/share/ddnet/settings_ddnet.cfg

fish/.config/fish/completions/
fish/.config/fish/conf.d/
fish/.config/fish/fish_variables
fish/.config/fish/functions/

qutebrowser/.config/qutebrowser/autoconfig.yml
qutebrowser/.config/qutebrowser/qsettings/QtProject.conf

nvim/.config/nvim/plugin/
nvim/.config/nvim/backup/
nvim/.config/nvim/swap/
nvim/.config/nvim/undo/
