nvim/.config/nvim/autoload
nvim/.config/nvim/after
nvim/.config/nvim/bak
nvim/.config/nvim/plugged
nvim/.config/nvim/tags
nvim/.config/nvim/.netrwhist

teeworlds/.teeworlds/*
!teeworlds/.teeworlds/editor/entities/
!teeworlds/.teeworlds/console.png
!teeworlds/.teeworlds/console_bar.png
!teeworlds/.teeworlds/settings_ddnet.cfg

fish/.config/fish/completions/
fish/.config/fish/conf.d/
fish/.config/fish/fish_variables
fish/.config/fish/functions/

qutebrowser/.config/qutebrowser/autoconfig.yml
qutebrowser/.config/qutebrowser/qsettings/QtProject.conf
