// * colors.styl

// ** wal generated colors

base03 = {background}
base02 = {color0}
base01 = {color8}
base00 = {color8}
base0 = {color7}
base1 = {color7}
base2 = {foreground}
base3 = {color15}
yellow = {color11}
orange = {color3}
red = {color1}
magenta = {color5}
violet = {color13}
blue = {color4}
cyan = {color6}
green = {color2}
