@import url("/home/moritz/.cache/wal/colors-waybar.css");

* {
  border: none;
  border-radius: 8px;
  min-height: 0;
  font-family: Inter;
  font-size: 1.05em;
  font-weight: 500;
}

window#waybar {
  background-color: transparent;
}

window#waybar > box {
  margin: 10px;
}

window#waybar.hidden {
  opacity: 0.5;
}

/* Tooltips */

tooltip {
  background: @background;
  padding: 0px;
  border: 2px solid @color0;
  border-radius: 8px;
  margin: 12px;
}

tooltip label {
  background: @background;
  text-shadow: none;
  color: @foreground;
  font-weight: bold;
  padding: 0px 5px;
}

/* modules */

.modules-left,
/* .modules-center, */
.modules-right {
  /* padding: 2px; */
  background-color: @background;
  color: @color8;
  box-shadow: 1 1 3 1px rgba(0,0,0,0.15);
}

.modules-right {
  /* background-color: @color3; */
  /* color: @background; */
}

/*  center */

#workspaces {
  /* background-color: @background; */
  /* color: @color1; */
}

#workspaces button {
  min-width: 20px;
  padding: 6px 18px;
  color: @color7;
}

#workspaces button.active {
  background-color: @color3;
  color: @background;
}

#workspaces button:hover {
  background-color: @color7;
  color: @background;
}

#workspaces button.urgent {
  background-color: @color1;
  color: @background;
}

/* left side */
#clock {
  padding: 10px 20px;
  background-color: @color3;
  color: @background;
}

#clock.date {
  background: @background;
  color: @color7;
}

/* right side */
#custom-power,
#battery,
#backlight,
#pulseaudio,
#network {
  padding: 6px 15px;
  /* background: @color1; */
}

#tray {
  padding: 6px 15px;
  background: @color7;
}

@keyframes blink {
to {
  background-color: @color8;
}
}

.warning,
.critical,
.urgent,
#battery.critical:not(.charging) {
  background-color: @color1;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
