@import url("/home/moritz/.cache/wal/colors-waybar.css");

@define-color melon_bg_light    #445967;
@define-color melon_bg_dark     #3C4F5B;
@define-color melon_bg_darker   #32424c;
@define-color melon_blue_light  #72A7D3;
@define-color melon_blue_dark   #5394C9;
@define-color melon_cyan        #37BF8D;
@define-color melon_white       #ffffff;
@define-color melon_gray        #CCCCCC;
@define-color melon_red         #d37277;

* {
  border: none;
  border-radius: 25px;
  /* min-height: 0; */
  font-family: SF Pro Rounded;
  font-size: 1.08em;
  font-weight: 500;
}

window#waybar {
  background-color: @melon_bg_light;
  /* background-color: transparent; */
  border-radius: 0px;
}

window#waybar > box {
  margin: 8px;
}

window#waybar.hidden {
  opacity: 0.5;
}

/* Tooltips */

tooltip {
  background: @background;
  padding: 0px;
  border: 2px solid @color0;
  border-radius: 8px;
  margin: 12px;
}

tooltip label {
  background: @background;
  text-shadow: none;
  color: @foreground;
  font-weight: bold;
  padding: 0px 5px;
}

/* modules */

.modules-left,
/* .modules-center, */
.modules-right {
  padding: 5px;
  background-color: @melon_bg_darker;
  color: @melon_gray;
  box-shadow: 1 1 3 1px rgba(0,0,0,0.15);
}

/*  center */

#workspaces {
  background-color: @melon_blue_dark;
  /* color: @color1; */
}

#workspaces button {
  min-width: 20px;
  padding: 6px 18px;
  color: @melon_white;
  background-color: @melon_blue_dark;
}

#workspaces button.active {
  background-color: @melon_blue_light;
  color: @melon_white;
}

#workspaces button:hover {
  background-color: @color7;
  color: @background;
}

#workspaces button.urgent {
  background-color: @color1;
  color: @background;
}

/* left side */
#clock {
  /* border-radius: 0 8 8 0px; */
  padding: 10px 20px;
  /* background-color: @melon_cyan; */
  color: @background;
}

#clock.date {
  /* border-radius: 8 0 0 8px; */
  background: @melon_bg_darker;
  color: @melon_white;
}

/* right side */
#custom-power,
#battery,
#backlight,
#pulseaudio,
#network {
  padding: 6px 15px;
  /* background: @color1; */
}

#tray {
  padding: 16px 20px;
  background: @melon_bg_darker;
}

@keyframes blink {
to {
  background-color: @color8;
}
}

.warning,
.critical,
.urgent,
#battery.critical:not(.charging) {
  background-color: @color1;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
