* {
	accent:           @color15;
	background:       @background;
	background-light: @color0;
	background-focus: @color8;
	foreground:       @foreground;
	foreground-list:  @color8;
	on:               @color2;
	off:              @color1;
}

@import "~/.cache/squash/colors.rasi"
/* vim:ft=css
