* {
  accent:           @color3;
  background:       @background;
  background-light: @color0;
  background-focus: @color8;
  foreground:       @foreground;
  foreground-list:  @color7;
  on:               @color2;
  off:              @color1;
}

@import "/home/moritz/.cache/squash/colors.rasi"
/* vim:ft=css
