/**
 * Allows to change the settings of every menu simply by editing this file
 */
@import "colorschemes/squash_inv.rasi"
@import "resolutions/1920x1080.rasi"

#window {
  width: 50%;
  height: 36%;
}

